
<h1>使用者列表</h1>

<br/>
<br/>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>
        {{#if this.isAdmin}}
        <span>Admin
          <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-small">推下神壇！</button>
          </form>
        </span>
        {{else}}
        <span>Common User&nbsp;
          <form action="/admin/users/{{this.id}}/toggleAdmin?_method=PUT" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-small">set as admin</button>
          </form>
        </span>
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>